export AWS_PROFILE=muanalytics
export HOST=203149375586.dkr.ecr.eu-west-1.amazonaws.com
export REPO=muanalytics/sagemaker-test
export VERSION=0.0.0.9008
#export ROLE_ARN=arn:aws:iam::203149375586:role/sagemaker-role
export ROLE_ARN=arn:aws:iam::203149375586:role/service-role/AmazonSageMaker-ExecutionRole-20200410T203681
export INSTANCE_TYPE="local"
#export INSTANCE_TYPE="ml.c5.xlarge"
#export INSTANCE_TYPE="ml.p2.xlarge"
