source_up

# URL of ECR repo

export REPO_URL=203149375586.dkr.ecr.eu-west-1.amazonaws.com/sagemaker-test

# Container version

export VERSION=0.0.0.9000

# ARN of SAGEMAKER execution ROLE

export ROLE_ARN=arn:aws:iam::203149375586:role/sagemaker-exec-role

# Instance type for SageMaker execution (e.g. local or ml.c5.xlarge)

export INSTANCE_TYPE=local

# Base image used for running GPU jobs

export GPU_BASE=763104351884.dkr.ecr.eu-west-1.amazonaws.com/tensorflow-training:2.2.0-gpu-py37-cu102-ubuntu18.04

# ML Flow URL (URI of ML Flow server)

export MLFLOW_URI=http://4d84c4ad326b.ngrok.io/
